@import "components/Button/style";
@import "components/Icon/style";
@import "components/Menu/style";

.code-box {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 16px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  .code-box-demo {
    padding: 42px 24px 50px;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #f0f0f0;
  }
}

[id^="components-button-demo-"] .ez-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}
